<script type="text/ng-template"  id="tree_item_renderer.html">
    <li ng-repeat="file in file.child">
        <div ng-click="get_all_versions()">
            <h4 >
                <snap ng-class="{{ !file.is_dir }} ? 'glyphicon glyphicon-file' : 'glyphicon glyphicon-folder-close'"
                        ng-click="add(file)"></snap>
                {{ file.path_name }}
            </h4>
            <span>{{ file.date }}</span>
        </div>
        <ul ng-include="'tree_item_renderer.html'" class="nav nav-list tree"></ul>
    </li>
</script>

<div class="container">
    <div class="col-md-6">
        <ul  class="nav nav-list tree">
            <li ng-repeat="file in tree">
                <div ng-click="get_all_versions()">
                    <h4>
                        <snap ng-class="{{ !file.is_dir }} ? 'glyphicon glyphicon-file' : 'glyphicon glyphicon-folder-close'"
                              ng-click="add(file)"></snap>
                        {{ file.path_name }}
                    </h4>
                    <span>{{ file.date }}</span>
                </div>
                <ul ng-include="'tree_item_renderer.html'" class="nav nav-list tree"></ul>
            </li>

        </ul>
    </div>

    <div class="col-md-6">
        <ul>
            <li ng-repeat="version in versions" >
                <h4>[{{ version.version }}]{{ version.path_name }}</h4>
                <span>{{ version.date }}</span>
            </li>
        </ul>

    </div>
</div>