<div class="container">
    <div class="col-md-6">
        <ul  class="nav nav-list tree">
            <li ng-repeat="file in tree">
                    <h4>
                        <snap ng-class="{{ !file.is_dir }} ? 'glyphicon glyphicon-file' : 'glyphicon glyphicon-folder-open'"
                              ng-click="add(file)"></snap>
                        <span ng-click="get_all_versions()">
                            {{ file.path_name }}<br/>
                            {{ file.date }}
                        </span>
                    </h4>
                <ul ng-include="'static/templates/tree_item_renderer.html'" class="nav nav-list tree"></ul>
            </li>

        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <li ng-repeat="version in versions" >
                <h4>[{{ version.version }}]{{ version.path_name }}</h4>
                <span>
                    {{ version.date }}
                    <button class="btn-xs" ng-click="downgrade()"
                            ng-hide="{{ versions[0].version == version.version }}">
                        back
                    </button>
                </span>
            </li>
        </ul>
    </div>
</div>