<div class="container">
    <div class='col-md-4'>
        <div class="form-group">
            <div class='input-group date'>
                <span class="input-group-addon">
                    From
                </span>
                <input type="date" ng-model="event.from" class="form-control" />
            </div>
        </div>
    </div>
    <div class='col-md-4' >
        <div class="form-group">
            <div class='input-group date'>
                <span class="input-group-addon">
                    To
                </span>
                <input type="date" ng-model="event.to" class="form-control" />
            </div>
        </div>
    </div>
    <button type="button" ng-click="get_events()" class="btn btn-default">Get</button>
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Filter by event</span>
  <input ng-model="event.event" type="text" class="form-control" aria-describedby="basic-addon1">
</div>
<ul>
    <li ng-repeat="file in files | filter:event">
        <h4>{{ file.path_name }}</h4>
        <span>{{ file.event }}</span> <br/>
        <span>{{ file.date }}</span>
    </li>
</ul>